
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.card {
    background:  hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; /* offset-x, offset-y, blur-radius (bigger and lighter shadow), spread-radius */
    max-width: 300px;
    text-align: center;
}

.images {
    display:flex;
    align-items: center;
    justify-content: center;
}

img {
    width:250px;
    height:250px;
    border-radius: 7px;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0px;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

.attribution {
    text-align: center;
    background-color: #fff;
    padding: 2%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; /* offset-x, offset-y, blur-radius (bigger and lighter shadow), spread-radius */

}
